In [20]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=XLE&interval=1min&apikey=V7HBQDF2R2OQGAHH'
r = requests.get(url)
data = r.json()

print(data)

{'Meta Data': {'1. Information': 'Intraday (1min) open, high, low, close prices and volume', '2. Symbol': 'XLE', '3. Last Refreshed': '2021-09-17 19:50:00', '4. Interval': '1min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}, 'Time Series (1min)': {'2021-09-17 19:50:00': {'1. open': '49.2000', '2. high': '49.2000', '3. low': '49.2000', '4. close': '49.2000', '5. volume': '335'}, '2021-09-17 19:48:00': {'1. open': '49.2000', '2. high': '49.2000', '3. low': '49.2000', '4. close': '49.2000', '5. volume': '287'}, '2021-09-17 19:40:00': {'1. open': '49.2100', '2. high': '49.2100', '3. low': '49.2100', '4. close': '49.2100', '5. volume': '295'}, '2021-09-17 19:18:00': {'1. open': '49.2600', '2. high': '49.2600', '3. low': '49.2000', '4. close': '49.2000', '5. volume': '301'}, '2021-09-17 18:41:00': {'1. open': '49.3200', '2. high': '49.3200', '3. low': '49.3200', '4. close': '49.3200', '5. volume': '75000'}, '2021-09-17 18:27:00': {'1. open': '49.2600', '2. high': '49.2600', '3. low': '49.2600', '4. close': '49.2600', '5. volume': '300'}, '2021-09-17 18:06:00': {'1. open': '49.2600', '2. high': '49.2600', '3. low': '49.2600', '4. close': '49.2600', '5. volume': '200'}, '2021-09-17 17:30:00': {'1. open': '49.3200', '2. high': '49.3200', '3. low': '49.3200', '4. close': '49.3200', '5. volume': '504'}, '2021-09-17 17:14:00': {'1. open': '49.3285', '2. high': '49.3285', '3. low': '49.3285', '4. close': '49.3285', '5. volume': '115'}, '2021-09-17 17:09:00': {'1. open': '49.2500', '2. high': '49.2500', '3. low': '49.2500', '4. close': '49.2500', '5. volume': '200'}, '2021-09-17 17:08:00': {'1. open': '49.2500', '2. high': '49.2500', '3. low': '49.2500', '4. close': '49.2500', '5. volume': '400'}, '2021-09-17 16:55:00': {'1. open': '49.3500', '2. high': '49.3500', '3. low': '49.3500', '4. close': '49.3500', '5. volume': '100'}, '2021-09-17 16:47:00': {'1. open': '49.3700', '2. high': '49.3700', '3. low': '49.3700', '4. close': '49.3700', '5. volume': '200'}, '2021-09-17 16:41:00': {'1. open': '49.2800', '2. high': '49.2800', '3. low': '49.2800', '4. close': '49.2800', '5. volume': '100'}, '2021-09-17 16:40:00': {'1. open': '49.2800', '2. high': '49.2800', '3. low': '49.2800', '4. close': '49.2800', '5. volume': '100'}, '2021-09-17 16:38:00': {'1. open': '49.3000', '2. high': '49.3000', '3. low': '49.2800', '4. close': '49.2800', '5. volume': '2935'}, '2021-09-17 16:36:00': {'1. open': '49.3900', '2. high': '49.3900', '3. low': '49.3900', '4. close': '49.3900', '5. volume': '150'}, '2021-09-17 16:34:00': {'1. open': '49.3400', '2. high': '49.3900', '3. low': '49.3400', '4. close': '49.3900', '5. volume': '200'}, '2021-09-17 16:31:00': {'1. open': '49.3100', '2. high': '49.3200', '3. low': '49.3100', '4. close': '49.3200', '5. volume': '408387'}, '2021-09-17 16:30:00': {'1. open': '49.2801', '2. high': '49.2801', '3. low': '49.2801', '4. close': '49.2801', '5. volume': '802'}, '2021-09-17 16:28:00': {'1. open': '49.3000', '2. high': '49.3000', '3. low': '49.3000', '4. close': '49.3000', '5. volume': '508'}, '2021-09-17 16:22:00': {'1. open': '49.3100', '2. high': '49.3100', '3. low': '49.3100', '4. close': '49.3100', '5. volume': '100'}, '2021-09-17 16:20:00': {'1. open': '49.3000', '2. high': '49.3000', '3. low': '49.3000', '4. close': '49.3000', '5. volume': '530'}, '2021-09-17 16:18:00': {'1. open': '49.3100', '2. high': '49.3100', '3. low': '49.2900', '4. close': '49.2900', '5. volume': '300'}, '2021-09-17 16:17:00': {'1. open': '49.3000', '2. high': '49.3311', '3. low': '49.3000', '4. close': '49.3311', '5. volume': '55151'}, '2021-09-17 16:16:00': {'1. open': '49.3200', '2. high': '49.3200', '3. low': '49.3000', '4. close': '49.3000', '5. volume': '36300'}, '2021-09-17 16:13:00': {'1. open': '49.3100', '2. high': '49.3100', '3. low': '49.3000', '4. close': '49.3000', '5. volume': '1025'}, '2021-09-17 16:12:00': {'1. open': '49.3200', '2. high': '49.3800', '3. low': '49.3200', '4. close': '49.3800', '5. volume': '15177'}, '2021-09-17 16:11:00': {'1. open': '49.3000', '2. high': '49.3800', '3. low': '49.3000', '4. close': '49.3800', '5. volume': '2048'}, '2021-09-17 16:09:00': {'1. open': '49.3000', '2. high': '49.3000', '3. low': '49.2900', '4. close': '49.2900', '5. volume': '727'}, '2021-09-17 16:05:00': {'1. open': '49.3200', '2. high': '49.3300', '3. low': '49.3200', '4. close': '49.3300', '5. volume': '10200'}, '2021-09-17 16:03:00': {'1. open': '49.3200', '2. high': '49.3200', '3. low': '49.2500', '4. close': '49.2500', '5. volume': '49370'}, '2021-09-17 16:02:00': {'1. open': '49.3200', '2. high': '49.3200', '3. low': '49.3200', '4. close': '49.3200', '5. volume': '2440'}, '2021-09-17 16:01:00': {'1. open': '49.3200', '2. high': '49.3300', '3. low': '49.3200', '4. close': '49.3200', '5. volume': '3584'}, '2021-09-17 16:00:00': {'1. open': '49.3400', '2. high': '49.3400', '3. low': '49.3100', '4. close': '49.3200', '5. volume': '545773'}, '2021-09-17 15:59:00': {'1. open': '49.3450', '2. high': '49.3600', '3. low': '49.3300', '4. close': '49.3300', '5. volume': '493175'}, '2021-09-17 15:58:00': {'1. open': '49.3100', '2. high': '49.3500', '3. low': '49.3050', '4. close': '49.3436', '5. volume': '266716'}, '2021-09-17 15:57:00': {'1. open': '49.3050', '2. high': '49.3200', '3. low': '49.2800', '4. close': '49.3100', '5. volume': '273079'}, '2021-09-17 15:56:00': {'1. open': '49.3350', '2. high': '49.3500', '3. low': '49.2900', '4. close': '49.3050', '5. volume': '356834'}, '2021-09-17 15:55:00': {'1. open': '49.3400', '2. high': '49.3600', '3. low': '49.3200', '4. close': '49.3350', '5. volume': '459670'}, '2021-09-17 15:54:00': {'1. open': '49.3050', '2. high': '49.3400', '3. low': '49.3001', '4. close': '49.3400', '5. volume': '237953'}, '2021-09-17 15:53:00': {'1. open': '49.3100', '2. high': '49.3450', '3. low': '49.3000', '4. close': '49.3050', '5. volume': '186285'}, '2021-09-17 15:52:00': {'1. open': '49.3500', '2. high': '49.3650', '3. low': '49.3000', '4. close': '49.3100', '5. volume': '303129'}, '2021-09-17 15:51:00': {'1. open': '49.3400', '2. high': '49.3800', '3. low': '49.3400', '4. close': '49.3450', '5. volume': '375000'}, '2021-09-17 15:50:00': {'1. open': '49.3400', '2. high': '49.3779', '3. low': '49.3350', '4. close': '49.3400', '5. volume': '192986'}, '2021-09-17 15:49:00': {'1. open': '49.3800', '2. high': '49.3900', '3. low': '49.3300', '4. close': '49.3350', '5. volume': '114032'}, '2021-09-17 15:48:00': {'1. open': '49.4050', '2. high': '49.4100', '3. low': '49.3650', '4. close': '49.3750', '5. volume': '177130'}, '2021-09-17 15:47:00': {'1. open': '49.4000', '2. high': '49.4100', '3. low': '49.3650', '4. close': '49.4100', '5. volume': '395254'}, '2021-09-17 15:46:00': {'1. open': '49.4250', '2. high': '49.4450', '3. low': '49.4000', '4. close': '49.4050', '5. volume': '119270'}, '2021-09-17 15:45:00': {'1. open': '49.4400', '2. high': '49.4661', '3. low': '49.4250', '4. close': '49.4300', '5. volume': '114855'}, '2021-09-17 15:44:00': {'1. open': '49.4000', '2. high': '49.4400', '3. low': '49.3950', '4. close': '49.4350', '5. volume': '118309'}, '2021-09-17 15:43:00': {'1. open': '49.3800', '2. high': '49.4100', '3. low': '49.3800', '4. close': '49.4000', '5. volume': '121463'}, '2021-09-17 15:42:00': {'1. open': '49.3450', '2. high': '49.3900', '3. low': '49.3300', '4. close': '49.3850', '5. volume': '179543'}, '2021-09-17 15:41:00': {'1. open': '49.3300', '2. high': '49.3600', '3. low': '49.3250', '4. close': '49.3500', '5. volume': '120150'}, '2021-09-17 15:40:00': {'1. open': '49.3400', '2. high': '49.3400', '3. low': '49.3100', '4. close': '49.3250', '5. volume': '104667'}, '2021-09-17 15:39:00': {'1. open': '49.3650', '2. high': '49.3700', '3. low': '49.3400', '4. close': '49.3450', '5. volume': '141241'}, '2021-09-17 15:38:00': {'1. open': '49.3300', '2. high': '49.3800', '3. low': '49.3200', '4. close': '49.3650', '5. volume': '225487'}, '2021-09-17 15:37:00': {'1. open': '49.3900', '2. high': '49.3950', '3. low': '49.3300', '4. close': '49.3300', '5. volume': '174387'}, '2021-09-17 15:36:00': {'1. open': '49.3850', '2. high': '49.4200', '3. low': '49.3800', '4. close': '49.3900', '5. volume': '195570'}, '2021-09-17 15:35:00': {'1. open': '49.3900', '2. high': '49.3970', '3. low': '49.3800', '4. close': '49.3850', '5. volume': '86527'}, '2021-09-17 15:34:00': {'1. open': '49.4100', '2. high': '49.4250', '3. low': '49.3800', '4. close': '49.3850', '5. volume': '78960'}, '2021-09-17 15:33:00': {'1. open': '49.4100', '2. high': '49.4200', '3. low': '49.4000', '4. close': '49.4100', '5. volume': '53620'}, '2021-09-17 15:32:00': {'1. open': '49.4100', '2. high': '49.4150', '3. low': '49.3800', '4. close': '49.4050', '5. volume': '113171'}, '2021-09-17 15:31:00': {'1. open': '49.4150', '2. high': '49.4300', '3. low': '49.3950', '4. close': '49.4100', '5. volume': '120500'}, '2021-09-17 15:30:00': {'1. open': '49.4250', '2. high': '49.4300', '3. low': '49.3967', '4. close': '49.4150', '5. volume': '45630'}, '2021-09-17 15:29:00': {'1. open': '49.4200', '2. high': '49.4300', '3. low': '49.4050', '4. close': '49.4250', '5. volume': '27145'}, '2021-09-17 15:28:00': {'1. open': '49.3750', '2. high': '49.4200', '3. low': '49.3700', '4. close': '49.4150', '5. volume': '44371'}, '2021-09-17 15:27:00': {'1. open': '49.4200', '2. high': '49.4200', '3. low': '49.3700', '4. close': '49.3700', '5. volume': '42019'}, '2021-09-17 15:26:00': {'1. open': '49.4300', '2. high': '49.4300', '3. low': '49.4000', '4. close': '49.4100', '5. volume': '153441'}, '2021-09-17 15:25:00': {'1. open': '49.4150', '2. high': '49.4350', '3. low': '49.4050', '4. close': '49.4350', '5. volume': '51425'}, '2021-09-17 15:24:00': {'1. open': '49.4000', '2. high': '49.4200', '3. low': '49.3950', '4. close': '49.4150', '5. volume': '42676'}, '2021-09-17 15:23:00': {'1. open': '49.4100', '2. high': '49.4184', '3. low': '49.3850', '4. close': '49.4000', '5. volume': '48407'}, '2021-09-17 15:22:00': {'1. open': '49.4250', '2. high': '49.4250', '3. low': '49.4000', '4. close': '49.4100', '5. volume': '65250'}, '2021-09-17 15:21:00': {'1. open': '49.3850', '2. high': '49.4300', '3. low': '49.3850', '4. close': '49.4300', '5. volume': '31195'}, '2021-09-17 15:20:00': {'1. open': '49.3900', '2. high': '49.3950', '3. low': '49.3800', '4. close': '49.3900', '5. volume': '16004'}, '2021-09-17 15:19:00': {'1. open': '49.3700', '2. high': '49.4000', '3. low': '49.3550', '4. close': '49.3900', '5. volume': '40983'}, '2021-09-17 15:18:00': {'1. open': '49.3550', '2. high': '49.3900', '3. low': '49.3544', '4. close': '49.3750', '5. volume': '33712'}, '2021-09-17 15:17:00': {'1. open': '49.3100', '2. high': '49.3700', '3. low': '49.3100', '4. close': '49.3550', '5. volume': '49603'}, '2021-09-17 15:16:00': {'1. open': '49.3200', '2. high': '49.3200', '3. low': '49.2950', '4. close': '49.3100', '5. volume': '46775'}, '2021-09-17 15:15:00': {'1. open': '49.3350', '2. high': '49.3500', '3. low': '49.3200', '4. close': '49.3200', '5. volume': '37648'}, '2021-09-17 15:14:00': {'1. open': '49.3300', '2. high': '49.3400', '3. low': '49.3100', '4. close': '49.3300', '5. volume': '62524'}, '2021-09-17 15:13:00': {'1. open': '49.3600', '2. high': '49.3650', '3. low': '49.3200', '4. close': '49.3300', '5. volume': '109733'}, '2021-09-17 15:12:00': {'1. open': '49.4000', '2. high': '49.4000', '3. low': '49.3550', '4. close': '49.3600', '5. volume': '28534'}, '2021-09-17 15:11:00': {'1. open': '49.3900', '2. high': '49.4100', '3. low': '49.3800', '4. close': '49.4050', '5. volume': '12341'}, '2021-09-17 15:10:00': {'1. open': '49.3900', '2. high': '49.4050', '3. low': '49.3800', '4. close': '49.3850', '5. volume': '9993'}, '2021-09-17 15:09:00': {'1. open': '49.3800', '2. high': '49.4186', '3. low': '49.3700', '4. close': '49.3950', '5. volume': '28958'}, '2021-09-17 15:08:00': {'1. open': '49.4350', '2. high': '49.4350', '3. low': '49.3800', '4. close': '49.3800', '5. volume': '76847'}, '2021-09-17 15:07:00': {'1. open': '49.4400', '2. high': '49.4500', '3. low': '49.4130', '4. close': '49.4400', '5. volume': '38776'}, '2021-09-17 15:06:00': {'1. open': '49.4400', '2. high': '49.4450', '3. low': '49.4300', '4. close': '49.4335', '5. volume': '38834'}, '2021-09-17 15:05:00': {'1. open': '49.4229', '2. high': '49.4650', '3. low': '49.4200', '4. close': '49.4450', '5. volume': '64873'}, '2021-09-17 15:04:00': {'1. open': '49.3900', '2. high': '49.4300', '3. low': '49.3800', '4. close': '49.4300', '5. volume': '78822'}, '2021-09-17 15:03:00': {'1. open': '49.3850', '2. high': '49.3986', '3. low': '49.3700', '4. close': '49.3900', '5. volume': '72397'}, '2021-09-17 15:02:00': {'1. open': '49.4000', '2. high': '49.4100', '3. low': '49.3700', '4. close': '49.3850', '5. volume': '48273'}, '2021-09-17 15:01:00': {'1. open': '49.3500', '2. high': '49.4086', '3. low': '49.3450', '4. close': '49.4000', '5. volume': '404973'}, '2021-09-17 15:00:00': {'1. open': '49.3800', '2. high': '49.4000', '3. low': '49.3500', '4. close': '49.3500', '5. volume': '28654'}, '2021-09-17 14:59:00': {'1. open': '49.3800', '2. high': '49.4000', '3. low': '49.3700', '4. close': '49.3800', '5. volume': '172218'}, '2021-09-17 14:58:00': {'1. open': '49.4150', '2. high': '49.4250', '3. low': '49.3800', '4. close': '49.3900', '5. volume': '40864'}, '2021-09-17 14:57:00': {'1. open': '49.4370', '2. high': '49.4450', '3. low': '49.4100', '4. close': '49.4200', '5. volume': '59820'}, '2021-09-17 14:56:00': {'1. open': '49.3600', '2. high': '49.4300', '3. low': '49.3600', '4. close': '49.4300', '5. volume': '52499'}, '2021-09-17 14:55:00': {'1. open': '49.4100', '2. high': '49.4100', '3. low': '49.3600', '4. close': '49.3600', '5. volume': '30712'}}}

In [31]:
df['timestamp'] = pd.to_datetime(df['timestamp'])
df = df[df['timestamp'] < '2016-01-01']

In [32]:
df

,timestamp,open,high,low,close,adjusted_close,volume,rsi_6,rsi_7,rsi_8,...,eom_19,eom_20,eom_21,eom_22,eom_23,eom_24,eom_25,eom_26,volume_delta,labels
0,1999-12-15,26.66,27.25,26.6600,26.94,16.002137,218100,48.795181,48.087774,45.764463,...,143.374599,143.374599,143.374599,143.374599,143.374599,143.374599,143.374599,143.374599,-289200.0,2.0
1,1999-12-16,27.03,27.38,27.0200,27.20,16.156575,62100,64.133219,52.336449,51.868460,...,142.028986,142.028986,142.028986,142.028986,142.028986,142.028986,142.028986,142.028986,-156000.0,0.0
2,1999-12-17,27.19,27.25,26.7500,27.00,16.085385,955900,51.785714,57.463672,47.719793,...,-10.461345,-10.461345,-10.461345,-10.461345,-10.461345,-10.461345,-10.461345,-10.461345,893800.0,2.0
3,1999-12-20,26.88,27.03,26.3800,26.41,15.733890,781300,35.211268,40.161570,45.823928,...,-24.542429,-24.542429,-24.542429,-24.542429,-24.542429,-24.542429,-24.542429,-24.542429,-174600.0,2.0
4,1999-12-21,26.56,26.81,26.4700,26.48,15.775593,725800,54.883227,38.760175,43.205575,...,-3.044916,-3.044916,-3.044916,-3.044916,-3.044916,-3.044916,-3.044916,-3.044916,-55500.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4786,2018-12-24,55.45,55.72,53.7900,53.84,46.231934,15605923,0.000000,1.945841,4.296236,...,-23.126476,-23.126476,-23.126476,-23.126476,-23.126476,-23.126476,-23.126476,-23.126476,-21788188.0,1.0
4787,2018-12-26,54.36,57.20,53.3600,57.19,49.108550,29096971,32.762836,28.720147,29.344433,...,6.928556,6.928556,6.928556,6.928556,6.928556,6.928556,6.928556,6.928556,13491048.0,2.0
4788,2018-12-27,56.04,57.56,55.2800,57.49,49.366157,24377297,34.256694,30.962343,27.573333,...,10.662380,10.662380,10.662380,10.662380,10.662380,10.662380,10.662380,10.662380,-4719674.0,2.0
4789,2018-12-28,57.75,58.01,56.7001,57.05,48.988333,19437424,37.025766,32.348597,29.428703,...,6.301360,6.301360,6.301360,6.301360,6.301360,6.301360,6.301360,6.301360,-4939873.0,2.0
4790,2018-12-31,57.56,57.77,56.6799,57.35,49.245940,18705301,42.523860,39.525692,34.561642,...,-0.758192,-0.758192,-0.758192,-0.758192,-0.758192,-0.758192,-0.758192,-0.758192,-732123.0,2.0

In [18]:
import requests
import pandas as pd

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&apikey='+'V7HBQDF2R2OQGAHH'
r = requests.get(url)
data = r.json()

df = pd.DataFrame(data['Time Series (Daily)'])
#df.to_csv (r'Path where the new CSV file will be stored\New File Name.csv', index = None)
df = df.T
df = df.rename(columns={'1. open':'open', '2. high':'high', '3. low':'low', '4. close':'close', '5. volume':'volume'})

                open      high       low     close   volume
2021-09-28  139.1700  139.6880  137.2100  137.4700  4314595
2021-09-27  137.9600  139.0650  137.4800  138.5600  3306865
2021-09-24  137.0300  138.4800  136.7500  137.4900  2964397
2021-09-23  135.2500  137.4200  135.0300  136.7300  3013238
2021-09-22  133.7200  135.3700  133.4700  134.6300  3602416
...              ...       ...       ...       ...      ...
2021-05-13  141.4500  144.9000  141.2800  144.1700  4598920
2021-05-12  143.8400  144.1500  141.1400  141.3000  5959579
2021-05-11  144.9900  145.1900  142.9000  144.2200  7126404
2021-05-10  145.8000  148.3800  145.8000  146.1700  6983377
2021-05-07  145.9200  146.1400  144.5700  145.4600  7003467

[100 rows x 5 columns]

In [98]:
url2 = "https://query1.finance.yahoo.com/v7/finance/download/CL%3DF"
import datetime
import yfinance as yf

xle = yf.Ticker("XLE")

# get historical market data, here max is 5 years.
xle = xle.history(period="max")
xle.drop(axis = 1, columns = ['Dividends', 'Stock Splits'], inplace = True)
xle.reset_index(inplace = True)
xle = xle.rename(columns={'Date':'timestamp', 'Open':'open', 'High':'high', 'Low':'low', 'Close': 'close', 'Volume':'volume'})
xle.set_index('timestamp')
xle
xle = pd.DataFrame(xle)
xle

      timestamp       open       high        low      close    volume
0    1998-12-22  13.527403  13.572736  13.454870  13.500203     15200
1    1998-12-23  13.545537  13.781269  13.527404  13.781269     67800
2    1998-12-24  13.817541  13.817541  13.690608  13.708741     12300
3    1998-12-28  13.781271  13.781271  13.545538  13.636205     13500
4    1998-12-29  13.672469  13.772202  13.545536  13.772202     22000
...         ...        ...        ...        ...        ...       ...
5725 2021-09-23  49.080002  50.669998  48.849998  50.520000  24867100
5726 2021-09-24  50.250000  51.160000  50.150002  50.900002  27748900
5727 2021-09-27  52.020000  52.919998  51.950001  52.709999  40848700
5728 2021-09-28  53.209999  53.830002  52.770000  52.889999  66467100
5729 2021-09-29  52.840000  53.220001  52.189999  53.080002  26970994

[5730 rows x 6 columns]

In [77]:
clf = yf.Ticker("CL=F")

# get historical market data, here max is 5 years.
clf = clf.history(period="max")
clf.drop(axis = 1, columns = ['Dividends', 'Stock Splits'], inplace = True)
clf.reset_index(inplace = True)
clf = clf.rename(columns={'Date':'timestamp', 'Open':'open', 'High':'high', 'Low':'low', 'Close': 'close', 'Volume':'volume'})
clf.set_index('timestamp')
clf

      timestamp       open       high        low      close  volume
0    2000-08-23  31.950001  32.799999  31.950001  32.049999   79385
1    2000-08-24  31.900000  32.240002  31.400000  31.629999   72978
2    2000-08-25  31.700001  32.099998  31.320000  32.049999   44601
3    2000-08-28  32.040001  32.919998  31.860001  32.869999   46770
4    2000-08-29  32.820000  33.029999  32.560001  32.720001   49131
...         ...        ...        ...        ...        ...     ...
5262 2021-09-23  71.970001  73.500000  71.610001  73.300003  403405
5263 2021-09-24  73.239998  74.269997  72.809998  73.980003  350382
5264 2021-09-27  74.190002  75.750000  74.160004  75.449997  417829
5265 2021-09-28  75.430000  76.669998  74.239998  75.290001  417829
5266 2021-09-29  74.379997  75.790001  73.739998  74.870003  389966

[5267 rows x 6 columns]

In [78]:
clf=clf.drop(axis=1, columns=['open', 'high', 'low', 'volume'])
clf['timestamp']= pd.to_datetime(clf['timestamp'])
clf.set_index('timestamp')

                close
timestamp
2000-08-23  32.049999
2000-08-24  31.629999
2000-08-25  32.049999
2000-08-28  32.869999
2000-08-29  32.720001
...               ...
2021-09-23  73.300003
2021-09-24  73.980003
2021-09-27  75.449997
2021-09-28  75.290001
2021-09-29  74.870003

[5267 rows x 1 columns]

In [79]:
xle['timestamp']= pd.to_datetime(xle['timestamp'])
xle.set_index('timestamp')
xle.join(clf, on='timestamp', how='left', lsuffix='', rsuffix='', sort=False)

ValueError: You are trying to merge on datetime64[ns] and int64 columns. If you wish to proceed you should use pd.concat

In [102]:
clf = pd.read_csv('historical_data/CL=F/CL=F.csv')

In [104]:
clf['timestamp'] = pd.to_datetime(clf['timestamp'])
merged= xle.merge(clf, how='left', on='timestamp', suffixes=('', '_y'))
merged = merged.drop(axis=1, columns=['Unnamed: 0', 'open_y', 'high_y', 'low_y', 'volume_y'])
merged = merged.dropna()
merged

,timestamp,open,high,low,close,volume,close_y
421,2000-08-23,19.470701,19.842279,19.470701,19.767963,203200,32.049999
422,2000-08-24,19.842273,19.842273,19.284906,19.340643,239100,31.629999
423,2000-08-25,19.359229,19.396387,19.136282,19.396387,261800,32.049999
424,2000-08-28,19.266329,19.656487,19.210593,19.470697,110800,32.869999
425,2000-08-29,19.470709,19.572893,19.359236,19.489288,106500,32.720001
...,...,...,...,...,...,...,...
5725,2021-09-23,49.080002,50.669998,48.849998,50.520000,24867100,73.300003
5726,2021-09-24,50.250000,51.160000,50.150002,50.900002,27748900,73.980003
5727,2021-09-27,52.020000,52.919998,51.950001,52.709999,40848700,75.449997
5728,2021-09-28,53.209999,53.830002,52.770000,52.889999,66467100,75.290001
5729,2021-09-29,52.840000,53.220001,52.189999,53.080002,26970994,74.849998